.btn-devto {
  border: 1px solid #3B48DF;
  padding: 8px 40px;
  color: #3B48DF;
  border-radius: 6px;
}

.btn-devto:hover {
  background-color: #3B48DF;
  color: white;
}

.btn-pinterest {
  background-color: #E60124;
  color: white;
  padding: 12px;
  border-radius: 24px;
}

.btn-pinterest:hover {
  background-color: #B60000;
  /* opacity: 0.5; */
}